footer{
  min-width: 1100px;
  background-color: #141414;
  color: #bcbcbc;
}

  footer>.container{
    width: 1100px; height: 280px;
    margin: auto; padding-top: 80px;
    box-sizing: border-box;
    line-height: 1.8em;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
  }

    footer h2{
      margin-bottom: 30px;
      color: #fff;
    }

    .container>.links{
      display: flex;
    }
      .container>.links>ul{
        padding-left: 20px;
      }